body {
    font-family: Arvo;

    font-size: 16px;
    background: url("../img/green-felt.jpg");
    line-height: normal;
    color: white;
}

.main-section{
    border: 5px ridge white;
}

.subsection{
    padding: 5px 2px 15px 2px;
}

.no-padding{
    padding: 0 !important;
}

.section-heading{
    font-size:150%;
}

.left-aligned {
    text-align: left;
}

.right-aligned {
    text-align: right;
}

.center-align{
    text-align: center;
}


/*===================CALCULATOR STYLES===================*/
.calc-text-padding{
    padding-top: 10px;
}

.calc-value{
    max-width: 70px;
    color: black;
    margin-right: 25px;
}

.value-label{
    padding-top:10px;
}

.calc-divider{
    margin-top: 15px;
}



/*===================DICE ROLLER STYLES===================*/
/*.large-select{*/
    /*height: 100px;*/
    /*width: 180px;*/
    /*font-size: 70px;*/
    /*background-color: #386646;*/
    /*/!*background: url("../img/green-felt.jpg");*!/*/
/*}*/

/*#die-type{*/
    /*height: 100px;*/
    /*width: 180px;*/
/*}*/

#die-count{
    height: 35px;
    width: 50px;
    color: black;
}

.die-controls-container{
    margin-bottom: 10px;
}

.die-picture{
    border-radius: 50%;
    height: 95px;
    width: 95px;
}

.die-picture:hover{
    border: 3px solid #fcac45;;
    cursor: pointer;
}

.dee{
    font-size: 70px;
    display: inline-block;
}

#top-of-single-dice{
    margin-top: 35px;
}

.single-die-row{
    margin: 8px 25px 8px 25px;
    /*padding: 25px;*/
}

.die-result-container{
}

.die-result{
    margin: 10px;
    padding: 5px;
    font-size: 70px;
}

.die-result-active{
    border: 5px solid white;
}

#results-area{
    border: 5px solid black;
    margin: 21px;
    padding: 21px;
}


@media all and (max-width: 1360px) {
    .die-result {font-size:50px;}
}

@media all and (max-width: 900px) {
    .die-result {font-size:25px;}
}

.norm{
    font-size:16px !important;
}

#user{
    color: black !important;
}

#historyContainer{
    border: 5px ridge white;
}

.historical-roll{
    font-size: 16px;
}

.roll-section-header{
    font-size: 150%;
    text-decoration: underline;
}

.last-roll{
    font-size: 150%;
    /*color: #fcac45;*/
    margin-bottom: 20px;
}

.history-timestamp{
    font-size: 13px;
    color: darkgray;
}

#historyHeader{
    font-size: 150%;
    margin-bottom: 15px;
}

.Mike{
    color:NavajoWhite;
}

.Matt{
    color: LightSteelBlue;
}

.Mark{
    color: CornflowerBlue;
}

.Reem{
    color: LawnGreen;
}

.Tom{
    color: Yellow;
}

#hit-location-img{
    height: 300px;
}