body {
    font-family: Orbitron;

    font-size: 13px;
    background: url("../img/gray2.jpg");
    line-height: normal;
    color: white;
}

#main{
    background: url("../img/black.jpg");
    border: 10px ridge darkgray;
    border-radius: 10px;
}

#logo{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    border: 5px ridge navajowhite;
}

.italic{
    font-style: italic !important;
}

.center-align{
    font-size: 125%;
    text-align: center;
}

.left-align{
    font-size: 100%;
    text-align: left;
}

.safe-house-link{
    margin-bottom: 20px;
}

.safe-house-link a{
    color: white;
    text-decoration: none;
}

.safe-house-link a:hover{
    color: #fcac45;
    text-decoration: none;
    background-color: black;
    border-radius: 10%;
    border: 3px ridge white;
    padding: 10px;
}

.banner{
    color: #fcac45 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    font-style: italic !important;
    font-size: 500% !important;
    margin-top:20px;
}

.welcome{
    font-size: 300% !important;
    margin-top: 40px;
}

.section-title{
    color: #fcac45;
}

#ftp-link{
    color: #fcac45;
    font-size: 200%;
}

.extra-space{
    line-height: 25px;
}

.agent-select{
    height: 80px;
    width: 180px;
    font-size: 40px;
    background-color: black;
    color: white;
}

.warning-text{
    color: red;
}

.new-agent-text{
    font-size: 38%;
}

.new-agent-link {
    color: #fcac45;
    text-decoration: none;
    font-style: italic !important;
}

.new-agent-link:hover{
    color: #fcac45;
    text-decoration: underline;
}

#leeroy{
    max-width: 200px;
    margin: 10px 0 10px 0;
    border-radius: 10%;
    border: 3px ridge navajowhite;
}

#leeroy:hover{
    border: 3px ridge #fcac45;;
}

#whiteboardInputContainer{
    margin-bottom: 10px;
}

#newWhiteboardURL{
    color: black;
    font-size: 90%;
    width: 250px;
}