/*
Global
============================= */

body {
	/*font-family: 'Quicksand', sans-serif;*/
    /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
    /*font-family: Rationale;*/
    /*font-family: Metrophobic;*/
    /*font-family: "IM Fell DW Pica SC";*/
    font-family: Arvo;

    font-size: 13px;
    background-color: #996633;
    /*background: url("../img/green-felt.jpg");*/
    background: url("../img/wood.jpg");
    /*background: lightgray;*/
    line-height: normal;
}

.folder{
    background-color: palegoldenrod;
    padding-top:12px;
    border-radius:10px;
    /*position: relative;*/
}

/*#tab{*/
    /*position: relative;*/
    /*z-index: 100;*/
    /*width: 103px;*/
    /*height: 70px;*/
    /*top: -20%;*/
    /*left: 0%;*/
    /*background-color: palegoldenrod;*/
    /*padding-top:12px;*/
    /*border-radius:10px*/
/*}*/

.panel {
	border: solid 1px grey;
    padding: 5px;
    margin-bottom: 10px;
}

#names{
    margin-bottom: 15px;
}

.stat-label{
    padding-top: 7px;
}

.white-text{
    color: white;
}

.page-head {
    margin-top: 60px !important;
}

.wide-input{
    min-width: 99%;
    max-width: 99%;
}

.no-padding{
    padding: 0;
    margin: 0;
}

.equipment-check-box{
    padding: 5px 0 0 5px;
    margin: 0;
}

.row{
    padding: 0;
    margin: 0;
}

.row-with-margin{
    margin: 5px 0 !important;
}

.ts-header {
    font-weight: bold;
    text-decoration: underline;
    font-size: 125%;
}

#saveCharacter{
    margin-top: 10px;
}

.name{
    font-size: 125%;
    text-align: center;
}

.scrollable{
    overflow: auto;
}

.right-border{
    border-right: 1px solid lightgray;
}

.image-filename-label{
    padding: 8px 0 0 0;
    text-align: right;
}

.label-right-align{
    text-align: right;
}

.weapon-container{
    border-color: gray;
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-radius: 4px;
}

.weapon-stats-container{
    margin-top: 5px;
}

.logo-image{
    width: 50px;
    border-radius: 10%;
}

.logo-text{
    float: none;
    color: white !important;
}

.ts-link {
    color: white !important;
    text-decoration: none !important;
}

.ts-link:hover{
    color: #fcac45 !important;
    text-decoration: none !important;
}

.nav-container{
    background: black;
}

.notes-textarea{
    height: 110px !important;
}

.standard-input-textarea{
    height: 2em !important;
    font-size: 12px;
}

.first-row {
    height: 295px;
    margin-bottom: 5px;
}

.hit-point-row {
    height: 610px;
    margin-bottom: 5px;
}

.height-50 {
    height: 50%
}

.height-45 {
    height: 45%
}

.height-55 {
    height: 55%
}

.height-90 {
    height: 90%
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hp-dimensions{
    height: 590px;
    width: 356px;
}

.hit-point-image-container{
    width:352px;
}

.hit-points-horizontal{
    position: relative;
    z-index: 100;
    width: 60px;
    height: 70px;
    padding: 0;
}

.hit-points-vertical{
    position: relative;
    z-index: 100;
    width: 48px;
    height: 82px;
    padding: 0;
}

.hit-point {
    width: 12px;
    height: 12px;
    border: solid 1px black;
    float: left;
}

.hit-point-legend {
    margin-top: 2px;
}

.hit-point-healthy {
    /*background-color: white;*/
    /*background-color: limegreen;*/
    /*background-color: #646CBD;*/
    /*background-color: #7D88C3;*/
    background-color: #C1D3FD;
}

.hit-point-bruised {
    background-color: yellow;
}

.hit-point-wounded {
    background-color: red;
}

.hit-point-not-available {
    background-color: #464646;
}

.hit-points-label{
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 100;
}

.hit-points-label-static{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#hitPoints0{
    top: -97%;
    left: 41%;
}

#hitPoints1{
    top: -90%;
    left: 35%;
}

#hitPoints2{
    top: -103.9%;
    left: 50.5%;
}

#hitPoints3{
    top: -103%;
    left: 41%;
}

#hitPoints4{
    top: -132%;
    left: 10%;
}

#hitPoints5{
    top: -143.9%;
    left: 71%;
}

#hitPoints6{
    top: -128%;
    left: 5%;
}

#hitPoints7{
    top: -139.8%;
    left: 77.7%;
}

#hitPoints8{
    top: -138%;
    left: 17%;
}

#hitPoints9{
    top: -149.8%;
    left: 64%;
}

.hit-points-legend-label {
    position: relative;
    float: left;
}

#hitPointHealthy{
    top: -902px;
    left: 295px;
}

#hitPointLegendLabelHealthy{
    top: -904px;
    left: 300px;
}

#hitPointBruised{
    top: -880px;
    left: 213px;
}

#hitPointLegendLabelBruised{
    top: -882px;
    left: 218px;
}

#hitPointWounded{
    top: -858px;
    left: 131px;
}

#hitPointLegendLabelWounded{
    top: -860px;
    left: 136px;
}

#hitPointNA{
    top: -836px;
    left: 49px;
}

#hitPointLegendLabelNA{
    top: -838px;
    left: 54px;
}

#hitPointLegend{
    position: relative;
    z-index: 100;
    width: 103px;
    height: 70px;
    top: -140%;
    left: 70%;
    padding: 0;
    color: white;
    font-size: 12px;
}

.healthy-glow {
    -webkit-box-shadow:0 0 20px #C1D3FD;
    -moz-box-shadow: 0 0 20px #C1D3FD;
    box-shadow:0 0 20px #C1D3FD;
}

.low-danger-glow{
    -webkit-box-shadow:0 0 30px yellow;
    -moz-box-shadow: 0 0 30px yellow;
    box-shadow:0 0 30px yellow;
}

.medium-danger-glow{
    -webkit-box-shadow:0 0 40px orange;
    -moz-box-shadow: 0 0 40px orange;
    box-shadow:0 0 40px orange;
}

.high-danger-glow{
    -webkit-box-shadow:0 0 50px red;
    -moz-box-shadow: 0 0 50px red;
    box-shadow:0 0 50px red;
}

.image-container{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
}

.image{
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 90%;
}